$mainFont: 'Lato', sans-serif;
$regularWeight: 400;
$lightWeight: 300;
$bold: 700;

$mainColor: rgb(44, 163, 113);
$darkColor: rgb(71, 42, 73);
$magenta: #e01765;
// $green:
$blue: #70cadb;
$yellow: #e8a723;
